<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//dtd mapper 3.0//en"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.note">
	<resultMap type="com.bluedigm.springboard.entity.NoteDAO"
		id="note">
		<result property="id" column="id" />
		<result property="userId" column="id_user" />
		<result property="boardId" column="id_board" />
		<result property="title" column="title" />
		<result property="text" column="text" />
		<result property="createAt" column="time_create" />
		<result property="updateAt" column="time_update" />
	</resultMap>
	<insert id="insert">
		insert into note (id_user, id_board, title, text)
		values (#{userId}, #{boardId}, #{title}, #{text})
	</insert>
	<update id="update">
		update note set id_user = #{userId}, id_board =
		#{boardId}, title = #{title}, text = #{text} where id = #{id}
	</update>
	<delete id="delete">
		delete from note where id = #{id}
	</delete>
	<select id="selectId" resultMap="note">
		select * from note where id =
		#{id}
	</select>
	<select id="searchBoard" resultMap="note">
		select * from note where
		id_board = #{boardId}
	</select>
	<select id="searchBoardLimit" resultMap="note">
		select * from note where
		id_board = #{boardId} LIMIT #{start}, #{size}
	</select>
	<select id="count" resultType="int">
		select count(*) from note
	</select>
</mapper>